
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<!--begin::Main-->

<div layout:fragment="content">


        <!-- Load Summernote CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.css">

    <!-- Global Stylesheets Bundle -->


    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">게시판</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="/main" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">게시판</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->

                <!--end::Actions-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Products-->
                <div class="card card-flush">
                    <!--begin::Card body-->
                    <!--begin::Table-->
                    <!--begin::Body-->
                    <div class="card-body p-lg-10">
                        <!--begin::Latest posts-->
                        <div class="mb-2">
                            <form id="boardForm" enctype="multipart/form-data" method="post">
                                <div class="d-flex justify-content-between align-items-center text-gray-900 mb-7">
                                    <label class="col-lg-1 col-form-label required fw-semibold fs-6">제목</label>
                                    <input type="text" id="title" name="title" class="form-control form-control-lg form-control-solid" />
                                </div>
                                <div class="separator separator-dashed mb-9"></div>
                                <div class="mb-2">
                                    <div class="d-flex justify-content-between align-items-center text-gray-900 mb-7">
                                        <div class="container">
                                            <textarea name="summernote" id="summernote"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <input type="file" name="files" multiple />
                                </div>
                                <div class="mb-2">
                                    <button type="button" id="saveButton" class="btn btn-sm  btn-primary">저장</button> <a href="javascript:void(0);" class="btn btn-sm btn-secondary" id="cancelButton">취소</a>

                                </div>

                            </form>
                            <!--end::Posts-->
                        </div>

                        <!--end::Latest posts-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Products-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->

    <!--end::Content wrapper-->
    <!--begin::Footer-->

    <!--end::Footer-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <!-- Load Summernote JS -->
        <script type="text/JavaScript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.js"></script>
        <script type="text/JavaScript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/lang/summernote-ko-KR.js"></script>


        <script>
            $(document).ready(function() {

                $('#cancelButton').click(function() {
                    window.history.back();
                });
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $('#summernote').summernote({
                    height: 550,
                    minHeight: null,
                    maxHeight: null,
                    focus: true,
                    lang: "ko-KR",
                    placeholder: "게시글 작성",
                    fontNames: ["맑은 고딕", "궁서", "굴림체", "굴림", "돋움체", "바탕체", "Arial", "Arial Black", "Comic Sans MS", "Courier New"],
                    fontNamesIgnoreCheck: ["맑은 고딕"],
                    fontSizes: ["8", "9", "10", "11", "12", "14", "16", "18", "20", "22", "24", "28", "30", "36", "50", "72"],
                    callbacks: {
                        onImageUpload: function(files) {
                            for (var i = 0; i < files.length; i++) {
                                uploadImage(files[i]);
                            }
                        }
                    }
                });
                function uploadImage(file) {
                    var data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        url: "/board/uploadImage",
                        type: "POST",
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(url) {
                            $('#summernote').summernote('insertImage', url, function ($image) {
                                $image.attr('src', url);
                                $image.attr('data-filename', file.name);
                            });
                        },
                        error: function(data) {
                            console.error("Error uploading image:", data);
                        }
                    });
                }

                $('#saveButton').click(function() {
                    var title = $('#title').val().trim();
                    var content = $('#summernote').val().trim();


                    if (title === "") {
                        alert("제목을 입력하세요.");
                        return false;
                    }

                    if (content === "") {
                        alert("내용을 입력하세요.");
                        return false;
                    }

                    var formData = new FormData($('#boardForm')[0]);

                    formData.append('content', content);

                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $.ajax({
                        url: "/board/create/saveBoard",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(response) {
                            alert("저장되었습니다.");
                            // Redirect or update UI as needed
                            window.history.back(); // 이전 페이지로 이동
                        },
                        error: function(error) {
                            alert("저장 실패.");
                            console.error("Error saving post:", error);
                            window.history.back(); // 이전 페이지로 이동
                        }
                    });
                });
            });
    </script>

</div>
</div>