<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<!--begin::Main-->
<!-- Include Summernote CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.css" rel="stylesheet">

<div layout:fragment="content">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">공지사항</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="/main" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">게시판</li>
                        <!--end::Item-->

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->

                <!--end::Actions-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Products-->
                <div class="card card-flush">
                    <!--begin::Card body-->
                        <!--begin::Table-->

                            <!--begin::Body-->
                    <div class="card-body p-lg-10">
                        <!--begin::Latest posts-->
                        <div class="mb-15">
                            <!--begin::Title-->
                            <div class="d-flex justify-content-between align-items-center text-gray-900 mb-7">
                                <h3 th:text="${post.SUBJECT}"></h3>
                                <span class="fs-6 fw-bold text-gray-500" th:text="${post.EMPNM} + ' / ' + ${post.IN_DATE}"></span>
                            </div>
                            <!--end::Title-->
                            <!--begin::Separator-->
                            <div class="separator separator-dashed mb-9"></div>
                            <!--end::Separator-->
                            <!--begin::Feature post-->
                            <div class="row mb-10 mb-lg-18">
                                <a th:href="@{/download/{filename}(filename=${post.ATT_FILE})}" download th:text="${post.ATT_FILE}"></a>
                            </div>
                            <div class="row mb-10 mb-lg-18">
                                <!--begin::Col-->
                                <div th:utext="${post.CONTENT}"></div>
                                <!--end::Col-->
                            </div>
                            <div class="separator separator-dashed mb-9"></div>

                            <!--end::Feature post-->
                            <!--begin::Posts-->

                            <!--end::Posts-->
                        </div>
                        <!--end::Latest posts-->
                        <!--begin::Section-->

                        <!--end::latest instagram-->
                    </div>
                            <!--end::Body-->

                        <!--end::Table-->

                    <!--end::Card body-->
                </div>
                <!--end::Products-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
        <script src="/assets/plugins/global/plugins.bundle.js"></script>
        <script src="/assets/js/board/scripts.bundle.js"></script>
        <script src="/assets/js/custom/apps/ecommerce/reports/customer-orders/customer-orders.js"></script>
    </div>
    <!--end::Content wrapper-->

    <!--end:::Main-->


</div>
<!--begin::Custom Javascript(used for this page only)-->
<!--end::Custom Javascript-->
