<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div layout:fragment="content">
    <!-- 컨텐츠 래퍼 시작 -->
    <div class="d-flex flex-column flex-column-fluid">
        <!-- 툴바 시작 -->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!-- 툴바 컨테이너 시작 -->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!-- 페이지 제목 시작 -->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!-- 제목 시작 -->
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">게시판</h1>
                    <!-- 제목 끝 -->
                    <!-- Breadcrumb 시작 -->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!-- 항목 시작 -->
                        <li class="breadcrumb-item text-muted">
                            <a href="/main" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!-- 항목 끝 -->
                        <!-- 항목 시작 -->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <!-- 항목 끝 -->
                        <!-- 항목 시작 -->
                        <li class="breadcrumb-item text-muted">게시판</li>
                        <!-- 항목 끝 -->
                    </ul>
                    <!-- Breadcrumb 끝 -->
                </div>
                <!-- 페이지 제목 끝 -->
                <!-- Actions 시작 -->
                <!-- Actions 끝 -->
            </div>
            <!-- 툴바 컨테이너 끝 -->
        </div>
        <!-- 툴바 끝 -->
        <!-- 컨텐츠 시작 -->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!-- 컨텐츠 컨테이너 시작 -->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!-- 제품 시작 -->
                <div class="card card-flush">
                    <!-- 카드 본문 시작 -->
                    <div class="card-body p-lg-10">
                        <!-- 최신 포스트 시작 -->
                        <div class="mb-15">
                            <!-- 제목 시작 -->
                            <div class="d-flex justify-content-between align-items-center text-gray-900 mb-7">
                                <h3 th:text="${post.SUBJECT}"></h3>
                                <span class="fs-6 fw-bold text-gray-500" th:text="${post.EMPNM} + ' / ' + ${post.IN_DATE}"></span>
                            </div>
                            <!-- 제목 끝 -->
                            <!-- 구분선 시작 -->
                            <div class="separator separator-dashed mb-9"></div>
                            <!-- 구분선 끝 -->
                            <!-- 주요 포스트 시작 -->
                            <div class="row mb-10 mb-lg-18">
                                <div th:if="${files.length > 0}">
                                    <div th:each="file : ${files}">
                                        <a th:href="@{/download/{filename}(filename=${file})}" download th:text="${file}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-10 mb-lg-18">
                                <!-- 컬럼 시작 -->
                                <div th:utext="${post.CONTENT}"></div>
                                <!-- 컬럼 끝 -->
                            </div>
                            <div class="separator separator-dashed mb-9"></div>
                            <div class="d-flex flex-column mb-5 fv-row">
                                <div class="d-flex">
                                    <input type="hidden" id="gno" name="gno" th:value="${post.GNO}" />
                                    <input type="hidden" id="id" name="gno" th:value="${post.ID}" />
                                    <input type="hidden" id="uno" name="uno" th:value="${post.UNO}" />
                                    <input type="hidden" id="category" name="category" th:value="${post.CAT_GROUP}" />
                                    <input type="hidden" id="replyDepth" name="category" th:value="${post.REPLY_DEPTH}" />
                                    <div class="form-floating flex-grow-1 me-2" id="commentsContainer">
                                        <textarea class="form-control" placeholder="댓글을 입력하세요" name="newComment" id="floatingTextarea2" style="height: 40px;"></textarea>
                                        <label for="floatingTextarea2">Comments</label>
                                    </div>
                                    <button type="button" id="addCommentButton" class="btn btn-sm btn-primary align-self-end">등록</button>
                                </div>
                            </div>

                            <div th:if="${#lists.isEmpty(list)}">
                                <p> 댓글 없음 </p>
                            </div>
                            <div th:unless="${#lists.isEmpty(list)}">
                                <table id="commentsTable">
                                    <tr th:each="list, iterStat : ${list}">
                                        <td class="comment-item mb-2 p-2" th:text="${list.IN_DATE}"></td>
                                        <td class="comment-item mb-2 p-2" th:text="${list.ID}"></td>
                                        <td class="comment-item mb-2 p-2" th:utext="${list.CONTENT}"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="separator separator-dashed mb-9"></div>
                            <!-- 주요 포스트 끝 -->
                            <div class="mb-15 d-flex justify-content-start align-items-center">
                                <button type="button" id="listBack" class="btn btn-sm btn-primary me-2">목록</button>
                                <div th:if="${session.loginUserId == post.ID}">
                                    <a th:href="@{/board/edit(id=${post.UNO})}" class="btn btn-sm btn-success">수정</a>
                                </div>
                            </div>
                            <!-- 로그인 사용자와 글쓴이가 같을 경우 수정 버튼 표시 -->


                        </div>

                        <!-- 최신 포스트 끝 -->
                    </div>
                    <!-- 카드 본문 끝 -->
                </div>
                <!-- 제품 끝 -->
            </div>
            <!-- 컨텐츠 컨테이너 끝 -->
        </div>
        <!-- 컨텐츠 끝 -->
        <script src="/assets/plugins/global/plugins.bundle.js"></script>
        <script src="/assets/js/board/scripts.bundle.js"></script>
        <script src="/assets/js/custom/apps/ecommerce/reports/customer-orders/customer-orders.js"></script>
        <script>
            $(document).ready(function() {
                $('#listBack').click(function() {
                    history.back();
                });

                var csrfToken = $('meta[name="_csrf"]').attr('content');
                var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                $('#addCommentButton').click(function() {
                    var commentText = $('#floatingTextarea2').val().trim();
                    var gno = $('#gno').val();
                    var uno = $('#uno').val();
                    var category = $('#category').val();
                    var replyDepth = $('#replyDepth').val();
                    if (commentText === "") {
                        alert("댓글을 입력하세요.");
                        return;
                    }

                    if (!confirm("등록 하시겠습니까?")) {
                        return;
                    }


                    var formData = {
                        GNO: gno,
                        UNO: uno,
                        CAT_GROUP: category,
                        CONTENT: commentText,
                        REPLY_DEPTH :replyDepth
                    };

                    $.ajax({
                        url: '/board/readBoard/comments',
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: formData,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken); // CSRF 토큰 설정
                        },
                        success: function(response) {
                            //console.log(response);
                            var newComment = `<tr>
                        <td class="comment-item mb-2 p-2">${response.in_date}</td>
                        <td class="comment-item mb-2 p-2">${response.id}</td>
                        <td class="comment-item mb-2 p-2">${response.content}</td>
                    </tr>`;
                            $('#commentsTable').append(newComment);
                            $('#floatingTextarea2').val("");
                            alert("댓글이 등록되었습니다.");
                            location.reload();
                        },
                        error: function(error) {
                            console.error("Error adding comment:", error.responseText);
                            alert("댓글 추가 실패.");
                        }
                    });
                });
            });
        </script>


    </div>
    <!-- 컨텐츠 래퍼 끝 -->
</div>
</body>
</html>
