<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="welcomeModal">
    <div id="welcomeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="welcomeModalLabel">업테이트 안내</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>이것은 로그인 후 표시되는 환영 팝업입니다.</p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dontShowAgainCheckbox">
                        <label class="form-check-label" for="dontShowAgainCheckbox">일주일간 보지 않기</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>