<html xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="pageHeader" id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <!--begin::Title-->
      <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">DashBoard</h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">

        <!--end::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
    <!--begin::Actions-->
    <!--퀵메뉴 등록 -->
    <div class="d-flex align-items-center gap-2 gap-lg-3">
      <div class="d-flex">
        <select name="campaign-type" data-control="select2" data-hide-search="true" class="form-select form-select-sm bg-body border-body w-175px">
          <option value="today" selected="selected">오늘</option>
          <option value="week">일주일</option>
          <option value="month">이번달</option>
          <option value="last-month">전달</option>
        </select>
        <a href="#" id="downloadButton" class="btn btn-icon btn-sm btn-success flex-shrink-0 ms-4">
          <i class="ki-duotone ki-plus fs-2"></i>
        </a>
      </div>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Toolbar container-->
</div>