<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<script>


</script>
<div th:fragment="sidebar" id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">

    <!--begin::Logo-->
    <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
        <!--begin::Logo image-->
        <a href="/main">
            <img alt="Logo" src="/assets/media/logos/1.svg" class="h-30px app-sidebar-logo-default" />
        </a>
        <!--end::Logo image-->
        <!--begin::Sidebar toggle-->
        <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-sm h-30px w-30px rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
            <i class="ki-duotone ki-double-left fs-2 rotate-180">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>
        <!--end::Sidebar toggle-->
    </div>
    <!--end::Logo-->
    <!--begin::sidebar menu-->
    <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
        <!--begin::Menu wrapper-->
        <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
            <!--begin::Scroll wrapper-->
            <div id="kt_app_sidebar_menu_scroll" class="hover-scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
                <!--begin::Menu-->
                <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                    <!--begin:Menu item-->
                    <div id="menuList"></div>

                    <script th:inline="javascript">
                            /*<![CDATA[*/
                        const menuList = [[${session.USER_MENUS}]];
                        /*]]>*/
                        let menu_s=0;
                        let menu_b=0;


                        let html = '';
                        menuList.forEach(function(item,index) {

                        if( item.MENU_DIV =='M'){
                        if(index !== 0 ){
                        html +='</div></div></div></div></div>\n';
                    }
                        html +='</div><div  id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion fs-4">';

                        html +='<span class="menu-link">\n';
                        html +='<span class="menu-icon">\n';
                        if(item.MENU_CD =='1010000'){
                        html +='<i class="ki-duotone ki-code fs-2">\n' ;
                    }else if(item.MENU_CD =='1020000'){
                        html +='<i class="ki-duotone ki-user fs-2">\n' ;
                    }else if(item.MENU_CD =='1030000'){
                        html +='<i class="ki-duotone ki-bank fs-2">\n' ;
                    }else if(item.MENU_CD =='1040000'){
                        html +='<i class="ki-duotone ki-wallet fs-2">\n' ;
                    }else if(item.MENU_CD =='1050000'){
                        html +='<i class="ki-duotone ki-abstract-36 fs-2">\n' ;
                    }else if(item.MENU_CD =='1060000'){
                        html +='<i class="ki-duotone ki-profile-user fs-2">\n' ;
                    }else if(item.MENU_CD =='1030000'){
                        html +='<i class="ki-duotone ki-lock-2 fs-2">\n' ;
                    }else if(item.MENU_CD =='1070000'){
                        html +='<i class="ki-duotone ki-phone fs-2">\n' ;
                    }else if(item.MENU_CD =='1080000'){
                        html +='<i class="ki-duotone ki-chart-simple-3 fs-2">\n' ;
                    }else if(item.MENU_CD =='1135'){
                        html +='<i class="ki-duotone ki-user-edit  fs-2">\n' ;
                    }else if(item.MENU_CD =='1090000'){
                        html +='<i class="ki-duotone ki-subtitle fs-2">\n' ;
                    }else if(item.MENU_CD =='1186'){
                        html +='<i class="ki-duotone ki-abstract-11 fs-2">\n' ;
                    }

                        html +='<span class="path1"></span>\n' +
                        '<span class="path2"></span>\n' +
                        '<span class="path3"></span>\n' +
                        '<span class="path4"></span>\n' +
                        '</i>\n' +
                        '</span>\n' +
                        '<span class="menu-title fw-bolder fs-6">'+item.MENU_NM+'</span>\n' +
                        '<span class="menu-arrow"></span>\n' +
                        '</span>\n' +
                        '<div class="menu-sub menu-sub-accordion">';
                        menu_s=0;
                    }else if(item.MENU_DIV=='L'){
                            if(menu_s==0){
                        html +='<div id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion fs-6">';
                        }else{
                            html +='</div><div id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion fs-6">';
                        }
                            html +='<span class="menu-link">\n' +

                            '<span class="menu-bullet">\n' +
                            '<span class="bullet bullet-dot"></span>\n' +
                            '</span>\n' +
                            '<span class="menu-title fs-6">'+item.MENU_NM+'</span>\n' +
                            '<span class="menu-arrow"></span>'+
                            '</span>';
                            menu_s++;
                            menu_b=0;
                    }else if(item.MENU_DIV=='C'){

                        if(menu_b==0){

                        html +='<div class="menu-sub menu-sub-accordion">';
                    }
                        html +='<div  class="menu-item">\n'+
                        '<a class="menu-link fs-6" href="' + item.PROG_NM + '">\n' +
                        '<span class="menu-bullet">\n' +
                        '<span class="bullet bullet-dot"></span>\n' +
                        '</span>\n' +
                        '<span class="menu-title fs-6">'+item.MENU_NM+'</span>\n' +
                        '</a>\n' +
                        '</div>';
                        menu_b++;
                    }

                    });
                        menu_s=0;
                        menu_b=0;
                        html +='</div></div></div></div>';
                    //console.log(html);
                    document.getElementById('menuList').innerHTML = html;

                            document.addEventListener('DOMContentLoaded', function() {
                                // 현재 페이지의 URL 경로와 쿼리 스트링을 포함하여 가져옵니다.
                                const currentPath = window.location.pathname + window.location.search;
                                console.log('Current Path:', currentPath);

                                // 모든 메뉴 링크를 순회하며 현재 URL이 메뉴 링크의 href 속성에 포함되는지 확인합니다.
                                const menuLinks = document.querySelectorAll('.menu-item a');
                                menuLinks.forEach(link => {
                                    const linkPath = link.getAttribute('href');
                                    if (currentPath.startsWith(linkPath)) {
                                        // 해당 링크에 'active' 클래스를 추가합니다.
                                        link.classList.add('active');

                                        // 상위 메뉴 아이템들에 'here'와 'show' 클래스를 추가합니다.
                                        let parent = link.closest('.menu-sub-accordion');
                                        while (parent) {
                                            const parentItem = parent.closest('.menu-item.menu-accordion');
                                            if (parentItem) {
                                                parentItem.classList.add('here', 'show');
                                                parent = parentItem.closest('.menu-sub-accordion');
                                            } else {
                                                break; // 상위 메뉴 아이템이 없으면 종료합니다.
                                            }
                                        }
                                    }
                                });
                            });
                    </script>




                </div>
                <iframe src="https://coupa.ng/ce745g" width="100%" height="36" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
                <!--end::Menu-->
            </div>
            <!--end::Scroll wrapper-->

        </div>
        <!--end::Menu wrapper-->

    </div>

    <!--end::sidebar menu-->
</div>
</html>