<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<script>


</script>
<div th:fragment="sidebar" id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">

    <!--begin::Logo-->
    <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
        <!--begin::Logo image-->
        <a href="/main">
            <img alt="Logo" src="/assets/media/logos/1.svg" class="h-30px app-sidebar-logo-default" />
        </a>
        <!--end::Logo image-->
        <!--begin::Sidebar toggle-->
        <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-sm h-30px w-30px rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
            <i class="ki-duotone ki-double-left fs-2 rotate-180">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>
        <!--end::Sidebar toggle-->
    </div>
    <!--end::Logo-->
    <!--begin::sidebar menu-->
    <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
        <!--begin::Menu wrapper-->
        <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
            <!--begin::Scroll wrapper-->
            <div id="kt_app_sidebar_menu_scroll" class="hover-scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
                <!--begin::Menu-->
                <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                    <!--begin:Menu item-->
                    <div id="menuList"></div>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        const menuList = [[${session.USER_MENUS}]];
                        /*]]>*/
                        let menu_s=0;
                        let menu_b=0;


                        let html = '';
                        menuList.forEach(function(item,index) {

                            if( item.MENU_DIV =='M'){
                                if(index !== 0 ){
                                    html +='</div></div></div></div></div>\n';
                                }
                                html +='</div><div  id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion">';

                                html +='<span class="menu-link">\n';
                                html +='<span class="menu-icon">\n';
                                if(item.MENU_CD =='1010000'){
                                    html +='<i class="ki-duotone ki-code fs-2">\n' ;
                                }else if(item.MENU_CD =='1020000'){
                                    html +='<i class="ki-duotone ki-user fs-2">\n' ;
                                }else if(item.MENU_CD =='1030000'){
                                    html +='<i class="ki-duotone ki-bank fs-2">\n' ;
                                }else if(item.MENU_CD =='1040000'){
                                    html +='<i class="ki-duotone ki-wallet fs-2">\n' ;
                                }else if(item.MENU_CD =='1050000'){
                                    html +='<i class="ki-duotone ki-abstract-36 fs-2">\n' ;
                                }else if(item.MENU_CD =='1060000'){
                                    html +='<i class="ki-duotone ki-profile-user fs-2">\n' ;
                                }else if(item.MENU_CD =='1030000'){
                                    html +='<i class="ki-duotone ki-lock-2 fs-2">\n' ;
                                }else if(item.MENU_CD =='1070000'){
                                    html +='<i class="ki-duotone ki-phone fs-2">\n' ;
                                }else if(item.MENU_CD =='1080000'){
                                    html +='<i class="ki-duotone ki-chart-simple-3 fs-2">\n' ;
                                }else if(item.MENU_CD =='1135'){
                                    html +='<i class="ki-duotone ki-user-edit  fs-2">\n' ;
                                }else if(item.MENU_CD =='1090000'){
                                    html +='<i class="ki-duotone ki-subtitle fs-2">\n' ;
                                }else if(item.MENU_CD =='1186'){
                                    html +='<i class="ki-duotone ki-abstract-11 fs-2">\n' ;
                                }

                                html +='<span class="path1"></span>\n' +
                                    '<span class="path2"></span>\n' +
                                    '<span class="path3"></span>\n' +
                                    '<span class="path4"></span>\n' +
                                    '</i>\n' +
                                    '</span>\n' +
                                    '<span class="menu-title fw-bolder ">'+item.MENU_NM+'</span>\n' +
                                    '<span class="menu-arrow"></span>\n' +
                                    '</span>\n' +
                                    '<div class="menu-sub menu-sub-accordion">';
                                menu_s=0;
                            }else if(item.MENU_DIV=='L'){

                                if(menu_s==0){
                                    html +='<div id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion">';
                                }else{
                                    html +='</div><div id ="'+item.MENU_NM+'" data-kt-menu-trigger="click" class="menu-item menu-accordion">';
                                }
                                html +='<span class="menu-link">\n' +

                                    '<span class="menu-bullet">\n' +
                                    '<span class="bullet bullet-dot"></span>\n' +
                                    '</span>\n' +
                                    '<span class="menu-title">'+item.MENU_NM+'</span>\n' +
                                    '<span class="menu-arrow"></span>'+
                                    '</span>';
                                menu_s++;
                                menu_b=0;
                            }else if(item.MENU_DIV=='C'){

                                if(menu_b==0){

                                    html +='<div class="menu-sub menu-sub-accordion">';
                                }
                                html +='<div  class="menu-item">\n'+
                                    '<a class="menu-link" href="' + item.PROG_NM + '">\n' +
                                    '<span class="menu-bullet">\n' +
                                    '<span class="bullet bullet-dot"></span>\n' +
                                    '</span>\n' +
                                    '<span class="menu-title">'+item.MENU_NM+'</span>\n' +
                                    '</a>\n' +
                                    '</div>';
                                menu_b++;
                            }

                        });
                        menu_s=0;
                        menu_b=0;
                        html +='</div></div></div></div>';

                        document.getElementById('menuList').innerHTML = html;


                        // 메뉴 링크에 클릭 이벤트 리스너 추가
                        document.querySelectorAll('.menu-link').forEach(link => {
                            link.addEventListener('click', function() {
                                const menuPath = this.getAttribute('href');// 현재 클릭된 항목에서 가장 가까운 .menu-item.menu-accordion 찾기
                                const menuName = this.querySelector('.menu-title').textContent;

                                const closestMenuAccordion = this.closest('.menu-item.menu-accordion');
                                // 두 단계 위의 .menu-item.menu-accordion 찾기
                                const parentMenuAccordion = closestMenuAccordion.parentElement.closest('.menu-item.menu-accordion');

                                // 선택된 메뉴 정보를 localStorage에 저장
                                localStorage.setItem('activeMenuPath', menuPath);
                                localStorage.setItem('menuName', menuName); // 클릭된 메뉴의 아이디 값 저장

                                if (closestMenuAccordion) {
                                    localStorage.setItem('activeSubMenuId', closestMenuAccordion.id || closestMenuAccordion.getAttribute('data-id'));
                                }
                                if (parentMenuAccordion) {
                                    localStorage.setItem('activeMainMenuId', parentMenuAccordion.id || parentMenuAccordion.getAttribute('data-id'));
                                }
                            });
                        });


                        // 페이지 로딩 시 저장된 메뉴 활성화
                        document.addEventListener('DOMContentLoaded', () => {
                            const activeMenuPath = localStorage.getItem('activeMenuPath');
                            const activeSubMenuId  = localStorage.getItem('activeSubMenuId');
                            const activeMainMenuId  = localStorage.getItem('activeMainMenuId');

                            if (activeMenuPath) {
                                document.querySelectorAll('.menu-link').forEach(link => {
                                    if (link.getAttribute('href') === activeMenuPath) {
                                        link.classList.add('active'); // 현재 선택된 메뉴 항목 활성화
                                    }
                                });
                            }

                            if (activeSubMenuId) {
                                const activeSubMenu = document.getElementById(activeSubMenuId) || document.querySelector(`[data-id="${activeSubMenuId}"]`);
                                if (activeSubMenu) {
                                    // 여기서 필요한 클래스 추가
                                    activeSubMenu.classList.add('here', 'show');
                                }
                            }

                            if (activeMainMenuId) {
                                const activeMainMenu = document.getElementById(activeMainMenuId) || document.querySelector(`[data-id="${activeMainMenuId}"]`);
                                if (activeMainMenu) {
                                    // 여기서 필요한 클래스 추가
                                    activeMainMenu.classList.add('here', 'show');
                                }
                            }

                                localStorage.removeItem('activeMenuPath');
                                localStorage.removeItem('activeSubMenuId');
                                localStorage.removeItem('activeMainMenuId');

                        });


                    </script>




                </div>
                <iframe src="https://coupa.ng/ce745g" width="100%" height="36" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
                <!--end::Menu-->
            </div>
            <!--end::Scroll wrapper-->

        </div>
        <!--end::Menu wrapper-->

    </div>

    <!--end::sidebar menu-->
</div>
</html>