<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.AccountMapper">


    <!-- 🔧 명시적 ResultMap 정의로 매핑 문제 해결 -->
    <resultMap id="accountResultMap" type="com.wio.crm.model.Tcnt01Emp">
        <result property="userId" column="userId"/>
        <result property="custCode" column="custCode"/>
        <result property="cust_name" column="cust_name"/>
        <result property="empno" column="empno"/>
        <result property="emp_name" column="emp_name"/>
        <result property="depart" column="DEPART"/>
        <result property="position" column="POSITION"/>
        <result property="zip_no" column="ZIP_NO"/>
        <result property="addr" column="ADDR"/>
        <result property="tel_no" column="tel_no"/>
        <result property="fex_no" column="FEX_NO"/>
        <result property="hand_phone" column="hand_phone"/>
        <result property="email" column="email"/>
        <result property="rmk" column="RMK"/>
        <result property="use_yn" column="use_yn"/>
        <result property="admin" column="ADMIN"/>
        <result property="homePage" column="homePage"/>
        <result property="hasEmail" column="hasEmail"/>
        <result property="hasPhone" column="hasPhone"/>
        <result property="authority" column="authority"/>
    </resultMap>

    <select id="getAccount" resultMap="accountResultMap">
        SELECT
            A.USERID as userId,
            A.CUST_CODE as custCode,
            T.CUST_NAME as cust_name,
            A.EMPNO  as  empno,
            A.EMP_NAME as  emp_name,
            A.DEPART  ,
            A.POSITION  ,
            A.ZIP_NO  ,
            A.ADDR  ,
            A.TEL_NO as  tel_no,
            A.FEX_NO  ,
            A.HAND_PHONE as  hand_phone,
            A.EMAIL as  email,
            A.RMK  ,
            A.USE_YN as  use_yn,
            A.ADMIN ,
            T.HOMEPAGE as  homePage,
            A.HAS_EMAIL as  hasEmail,
            A.HAS_PHONE as hasPhone,
            A.AUTHORITY as authority
        FROM N_TCNT01_EMP A
        LEFT JOIN TCNT01 T ON A.CUST_CODE = T.CUST_CODE
        WHERE A.USERID = #{userId}
    </select>

    <update id="updateAccount">
        UPDATE N_TCNT01_EMP
        SET
            emp_name = #{emp_name},
            email = #{email},
            hand_phone = #{hand_phone},
            has_email = #{hasEmail},
            has_phone= #{hasPhone}
        WHERE USERID = #{userId}
    </update>



    <select id="findUserByUsername" resultType="com.wio.crm.model.Account">
        SELECT PW  password FROM N_TIPDW WHERE USERID = #{userId}
    </select>
    <update id="updateUserPassword">
        UPDATE N_TIPDW SET PW = #{password} WHERE USERID = #{userId}
    </update>
</mapper>