<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.BoardMapper">
    <select id="findPostsByCategory" resultType="Map">
        WITH ReplyCounts AS (
            SELECT
                GNO,
                cat_group,
                COUNT(*) AS re_count
            FROM BOARD_CALL
            WHERE SUBJECT IS NULL AND DELCODE IS NULL
            GROUP BY GNO, cat_group
        )
        SELECT
            --ROW_NUMBER() OVER (ORDER BY a.GNO DESC) AS rownum,
            a.UNO,
            a.GNO,
            a.SUBJECT,
            a.ID,
            SUBSTR(a.IN_DATE,0,10) AS IN_DATE,
            a.REPLY_DEPTH,
            a.att_file,
            a.hit,
            a.EMPNM,
            rc.re_count,
            CASE WHEN a.nocode = '1' THEN 'notice' ELSE '' END AS nocode
        FROM BOARD_CALL a
                 LEFT JOIN ReplyCounts rc ON a.GNO = rc.GNO AND a.cat_group = rc.cat_group
        WHERE a.CAT_GROUP = #{category}
          AND a.REPLY_DEPTH = 'A'
          AND a.DELCODE IS NULL
          AND a.SUBJECT IS NOT NULL
          and substr(a.in_date,0,10) > '2023-01-01'
        ORDER BY a.GNO DESC, a.REPLY_DEPTH

    </select>
</mapper>