<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.BoardMapper">
    <select id="findPostsByCategory" resultType="com.wio.crm.model.Board">
        WITH ReplyCounts AS (
            SELECT
                GNO,
                cat_group,
                COUNT(*) AS re_count
            FROM BOARD_CALL
            WHERE SUBJECT IS NULL AND DELCODE IS NULL
            GROUP BY GNO, cat_group
        )
        SELECT
            --ROW_NUMBER() OVER (ORDER BY a.GNO DESC) AS rownum,
            a.UNO,
            a.GNO,
            a.cat_group,
            a.SUBJECT AS SUBJECTFULL,
            CASE
                WHEN LENGTH(a.SUBJECT) > 20 THEN SUBSTR(a.SUBJECT, 1, 19) || '...'
                ELSE a.SUBJECT
            END AS SUBJECT,
            a.ID,
            SUBSTR(a.IN_DATE,0,10) AS IN_DATE,
            a.REPLY_DEPTH,
            a.att_file as ATT_FILE,
            a.hit,
            a.EMPNM,
            rc.re_count,
            CASE WHEN a.nocode = '1' THEN 'notice' ELSE '' END AS nocode
        FROM BOARD_CALL a
                 LEFT JOIN ReplyCounts rc ON a.GNO = rc.GNO AND a.cat_group = rc.cat_group
        WHERE a.CAT_GROUP = #{category}
          AND a.REPLY_DEPTH = 'A'
          AND a.DELCODE IS NULL
          AND a.SUBJECT IS NOT NULL
          and substr(a.in_date,0,10) > '2024-01-01'
        ORDER BY a.GNO DESC, a.REPLY_DEPTH

    </select>
    <select id="selectPostById" resultType="com.wio.crm.model.Board">
        SELECT
            gno,
            uno,
            REPLY_DEPTH,
            CAT_GROUP,
            SUBJECT,
            EMPNM,
            IN_DATE,
            ID,
            CONTENT,
            ATT_FILE
        FROM BOARD_CALL
        WHERE CAT_GROUP = #{category}
          AND uno=#{id}


    </select>

    <select id="selectComment" resultType="com.wio.crm.model.Board">
        SELECT
            gno,
            uno,
            REPLY_DEPTH,
            CAT_GROUP,
            SUBJECT,
            EMPNM,
            TO_DATE(IN_DATE,'YYYY-MM-DD HH24:MI:SS')  IN_DATE,
            ID,
            CONTENT,
            ATT_FILE
        FROM BOARD_CALL
        WHERE CAT_GROUP = #{category}
          AND gno=(select gno from board_call where uno= #{id} and CAT_GROUP = #{category})
          AND SUBJECT IS NULL
        ORDER BY IN_DATE

    </select>
    <insert id="insertPost">
        INSERT INTO BOARD_CALL (
            UNO, GNO, REPLY_DEPTH, CAT_GROUP, ID, SUBJECT, CONTENT, HIT, IN_DATE, ATT_FILE, EMPNM, NOCODE
        ) VALUES (
                     (SELECT NVL(MAX(UNO), 0) + 1 FROM BOARD_CALL WHERE CAT_GROUP = #{CAT_GROUP}),
                     (SELECT NVL(MAX(GNO), 0) + 1 FROM BOARD_CALL WHERE CAT_GROUP = #{CAT_GROUP}),
                     'A',
                     #{CAT_GROUP},
                     #{ID},
                     #{SUBJECT},
                     #{CONTENT},
                     0,
                     to_char(SYSDATE,'yyyy-MM-dd HH:mm:ss'),
                    <if test="ATT_FILE != null">
                        #{ATT_FILE}
                    </if>
                    <if test="ATT_FILE == null">
                        NULL
                    </if>,
                     #{EMPNM},
                     '1'
                 )
    </insert>

    <update id="updatePost" parameterType="com.wio.crm.model.Board">
        UPDATE BOARD_CALL
        SET SUBJECT = #{SUBJECT},
        CONTENT = #{CONTENT},
            ATT_FILE = #{ATT_FILE},
        EMPNM = #{EMPNM},
        IN_DATE = to_char(SYSDATE,'yyyy-MM-dd HH:mm:ss')
        WHERE UNO = #{UNO}
        AND CAT_GROUP = #{CAT_GROUP}
        AND ID = #{ID}
    </update>


    <insert id="insertComment" parameterType="com.wio.crm.model.Board">
       INSERT INTO BOARD_CALL (GNO, UNO,REPLY_DEPTH, CAT_GROUP, CONTENT, HIT, ID, IN_DATE)
        VALUES (#{GNO}, #{UNO}, #{REPLY_DEPTH},#{CAT_GROUP}, #{CONTENT}, 0,#{ID}, #{IN_DATE})

    </insert>
    <select id="getNextUno" resultType="int">
        SELECT NVL(MAX(UNO), 0) + 1
        FROM BOARD_CALL
        WHERE CAT_GROUP = #{catGroup}
    </select>
    <select id="getReplyCount" resultType="int">
        SELECT COUNT(REPLY_DEPTH) FROM BOARD_CALL WHERE CAT_GROUP = #{catGroup} AND GNO = #{gno} AND REPLY_DEPTH LIKE #{replyDepth} || '%'


    </select>


</mapper>