<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.ConsMapper">
    <select id="selectList" resultType="com.wio.crm.model.Consultation">
        SELECT CUST_CODE as custCode,
        PROJECT_CODE as projectCode,
        (SELECT PROJECT_NAME FROM TPRJ01 WHERE PROJECT_CODE=main_query.PROJECT_CODE AND CUST_CODE = #{params.custCode}) as projectName,
        PERSON_CODE as personCode,
        CALL_CODE as callCode,
        NVL((SELECT PERSON_NAME FROM TPER01 WHERE PERSON_CODE = main_query.PERSON_CODE AND CUST_CODE = #{params.custCode}), ' ') as empNo,
        (SELECT TEL_NO FROM TPER01 WHERE PERSON_CODE=main_query.PERSON_CODE AND CUST_CODE = #{params.custCode} ) as custTell,
        INCALL_NO as incallNo,
        OUTCALL_NO as outcallNo,
        RING_TIME as ringTime,
        RING_ID as ringId,
        CHANNEL_TIME as channelTime,
        CHANNEL_ID as channelId,
        OUT_TIME as outTime,
        OUT_ID as outId,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002'AND  ADM_CODE=main_query.CS_TYPE) as csType,
       CASE
           WHEN INSTR(CS_NOTE, CHR(30)) > 0 THEN
               CASE
                   WHEN LENGTH(SUBSTR(CS_NOTE, 1, INSTR(CS_NOTE, CHR(30)) - 1)) > 30 THEN SUBSTR(SUBSTR(CS_NOTE, 1, INSTR(CS_NOTE, CHR(30)) - 1), 1, 30) || '...'
                   ELSE SUBSTR(CS_NOTE, 1, INSTR(CS_NOTE, CHR(30)) - 1)
                   END
           ELSE
               CASE
                   WHEN LENGTH(CS_NOTE) > 30 THEN SUBSTR(CS_NOTE, 1, 30) || '...'
                   ELSE CS_NOTE
                   END
           END as csNote,
        CS_DATE as csDate,
        CS_BANK as csBank,
        CS_NAME as csName,
        CS_CASH as csCash,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4003'AND  ADM_CODE=main_query.PRC_GUBN) as prcGubn,
        PRC_NOTE as prcNote,
        EMG_GUBN as emgGubn,
        RECALL_EMP as recallEmp,
        RECALL_CUST as recallCust,
        SAUP_GUBN as saupGubn,
        DEL_GUBN as delGubn,
        TO_CHAR(IN_DATE,'YYYYMMDD') as inDate,
        TO_CHAR(IN_DATE, 'HH24:MI:SS')as inTime,
        IN_EMPNO as inEmpno,
        UP_DATE as up_Date,
        UP_EMPNO as upEmpno,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='5000'AND  ADM_CODE=main_query.BUY_GUBN)  as buyGubn,
        NEW_CS_TYPE as newCsType,
        NEW_CS_SUB_TYPE as newCsSubType,
        BUY_TYPE as buyType,
       (SELECT COUNT(*)
        FROM TBND01_MEMO
        WHERE CUST_CODE =main_query.CUST_CODE
          AND PROJECT_CODE=main_query.PROJECT_CODE
          AND PERSON_CODE=main_query.PERSON_CODE
          AND CALL_CODE =main_query.CALL_CODE) COUNTRE,
        rnum
        FROM (
                 SELECT TBND01.*, ROW_NUMBER() OVER (
                ORDER BY CASE WHEN EMG_GUBN = '1' THEN 0 ELSE 1 END, IN_DATE DESC
        ) AS rnum
            FROM (
                SELECT TBND01.*
                    FROM TBND01
                WHERE CUST_CODE = #{params.custCode}
                    AND EMG_GUBN = '1'
                <if test="params.status != null and params.status != ''">
                    AND PRC_GUBN = #{params.status}
                </if>
                <if test="params.type != null and params.type != ''">
                    AND CS_TYPE = #{params.type}
                </if>
                <if test="params.mall != null and params.mall != ''">
                    AND BUY_GUBN = #{params.mall}
                </if>
                <if test="params.status != null and params.status != ''
                        or params.type != null and params.type != ''
                        or params.mall != null and params.mall != ''">
                    AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}
                </if>
                    UNION ALL
                SELECT TBND01.*
                    FROM TBND01
                WHERE CUST_CODE = #{params.custCode}
                <![CDATA[
                    AND EMG_GUBN <> '1'
                ]]>
                <if test="params.status != null and params.status != ''">
                    AND PRC_GUBN = #{params.status}
                </if>
                <if test="params.type != null and params.type != ''">
                    AND CS_TYPE = #{params.type}
                </if>
                <if test="params.mall != null and params.mall != ''">
                    AND BUY_GUBN = #{params.mall}
                </if>
                    AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}
                 ) TBND01
                where 1=1
                <if test="params.keyword != null and params.keyword != ''">
                    AND (CS_NOTE LIKE '%' || #{params.keyword} || '%' OR PRC_NOTE LIKE '%' || #{params.keyword} || '%')
                </if>-- 하위 쿼리에 별칭 추가
                <if test="params.filter != null and params.filter == 'emergency'">
                    AND EMG_GUBN = '1'
                </if>
                <if test="params.filter != null and params.filter == 'claim'">
                    AND CS_TYPE = '29'
                </if>
                <if test="params.filter != null and params.filter == 'normal'">
                    AND EMG_GUBN = '0'
                </if>
             ) main_query
        WHERE rnum BETWEEN #{params.offset} AND #{params.limit}

    </select>

    <select id="countTotal" resultType="int">
        SELECT COUNT(*) FROM (
        SELECT TBND01.*
        FROM TBND01
        WHERE CUST_CODE =  #{params.custCode}
        AND EMG_GUBN = '1'
        UNION ALL
        SELECT TBND01.*
        FROM TBND01
        WHERE CUST_CODE =  #{params.custCode}
        <![CDATA[
            AND EMG_GUBN <> '1'
        ]]>
        AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}

        ) A
        where 1=1
        <if test="params.status != null and params.status != ''">
            AND PRC_GUBN = #{params.status}
        </if>
        <if test="params.type != null and params.type != ''">
            AND CS_TYPE = #{params.type}
        </if>
        <if test="params.mall != null and params.mall != ''">
            AND BUY_GUBN = #{params.mall}
        </if>
        <if test="params.status != null and params.status != ''
                or params.type != null and params.type != ''
                or params.mall != null and params.mall != ''">
            AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}
        </if>
        <if test="params.keyword != null and params.keyword != ''">
            AND (CS_NOTE LIKE '%' || #{params.keyword} || '%' OR PRC_NOTE LIKE '%' || #{params.keyword} || '%')
        </if>
        <if test="params.filter != null and params.filter == 'emergency'">
            AND EMG_GUBN = '1'
        </if>
        <if test="params.filter != null and params.filter == 'claim'">
            AND CS_TYPE = '29'
        </if>
        <if test="params.filter != null and params.filter == 'normal'">
            AND EMG_GUBN = '0'
        </if>
    </select>
    <select id="selectAllForExcel" resultType="com.wio.crm.model.Consultation">
        SELECT CUST_CODE as custCode,
        PROJECT_CODE as projectCode,
        (SELECT PROJECT_NAME FROM TPRJ01 WHERE PROJECT_CODE=main_query.PROJECT_CODE AND CUST_CODE = #{params.custCode}) as projectName,
        PERSON_CODE as personCode,
        CALL_CODE as callCode,
        NVL((SELECT PERSON_NAME FROM TPER01 WHERE PERSON_CODE = main_query.PERSON_CODE AND CUST_CODE = #{params.custCode}), ' ') as empNo,
        (SELECT TEL_NO FROM TPER01 WHERE PERSON_CODE=main_query.PERSON_CODE AND CUST_CODE = #{params.custCode} ) as custTell,
        INCALL_NO as incallNo,
        OUTCALL_NO as outcallNo,
        RING_TIME as ringTime,
        RING_ID as ringId,
        CHANNEL_TIME as channelTime,
        CHANNEL_ID as channelId,
        OUT_TIME as outTime,
        OUT_ID as outId,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002'AND  ADM_CODE=main_query.CS_TYPE) as csType,
        CS_NOTE as csNote,
        CS_DATE as csDate,
        CS_BANK as csBank,
        CS_NAME as csName,
        CS_CASH as csCash,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4003'AND  ADM_CODE=main_query.PRC_GUBN) as prcGubn,
        PRC_NOTE as prcNote,
        EMG_GUBN as emgGubn,
        RECALL_EMP as recallEmp,
        RECALL_CUST as recallCust,
        SAUP_GUBN as saupGubn,
        DEL_GUBN as delGubn,
        TO_CHAR(IN_DATE,'YYYYMMDD') as inDate,
        TO_CHAR(IN_DATE, 'HH24:MI:SS')as inTime,
        IN_EMPNO as inEmpno,
        UP_DATE as up_Date,
        UP_EMPNO as upEmpno,
        (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='5000'AND  ADM_CODE=main_query.BUY_GUBN)  as buyGubn,
        NEW_CS_TYPE as newCsType,
        NEW_CS_SUB_TYPE as newCsSubType,
        BUY_TYPE as buyType,
        (SELECT COUNT(*)
        FROM TBND01_MEMO
        WHERE CUST_CODE =main_query.CUST_CODE
        AND PROJECT_CODE=main_query.PROJECT_CODE
        AND PERSON_CODE=main_query.PERSON_CODE
        AND CALL_CODE =main_query.CALL_CODE) COUNTRE,
        rnum
        FROM (
        SELECT TBND01.*, ROW_NUMBER() OVER (
        ORDER BY CASE WHEN EMG_GUBN = '1' THEN 0 ELSE 1 END, IN_DATE DESC
        ) AS rnum
        FROM (
        SELECT TBND01.*
        FROM TBND01
        WHERE CUST_CODE = #{params.custCode}
        AND EMG_GUBN = '1'
        <if test="params.status != null and params.status != ''">
            AND PRC_GUBN = #{params.status}
        </if>
        <if test="params.type != null and params.type != ''">
            AND CS_TYPE = #{params.type}
        </if>
        <if test="params.mall != null and params.mall != ''">
            AND BUY_GUBN = #{params.mall}
        </if>
        <if test="params.status != null and params.status != ''
                        or params.type != null and params.type != ''
                        or params.mall != null and params.mall != ''">
            AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}
        </if>
        UNION ALL
        SELECT TBND01.*
        FROM TBND01
        WHERE CUST_CODE = #{params.custCode}
        <![CDATA[
                    AND EMG_GUBN <> '1'
                ]]>
        <if test="params.status != null and params.status != ''">
            AND PRC_GUBN = #{params.status}
        </if>
        <if test="params.type != null and params.type != ''">
            AND CS_TYPE = #{params.type}
        </if>
        <if test="params.mall != null and params.mall != ''">
            AND BUY_GUBN = #{params.mall}
        </if>
        AND TO_CHAR(IN_DATE, 'YYYYMMDD') BETWEEN #{params.startDate} AND #{params.endDate}
        ) TBND01
        where 1=1
        <if test="params.keyword != null and params.keyword != ''">
            AND (CS_NOTE LIKE '%' || #{params.keyword} || '%' OR PRC_NOTE LIKE '%' || #{params.keyword} || '%')
        </if>-- 하위 쿼리에 별칭 추가
        <if test="params.filter != null and params.filter == 'emergency'">
            AND EMG_GUBN = '1'
        </if>
        <if test="params.filter != null and params.filter == 'claim'">
            AND CS_TYPE = '29'
        </if>
        <if test="params.filter != null and params.filter == 'normal'">
            AND EMG_GUBN = '0'
        </if>
        ) main_query
    </select>

</mapper>
