<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.DashboardMapper">
    <select id="findDataForCard1" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[


        SELECT
            nvl(count_miss,0) as count_miss,
            nvl(count_com,0) as count_com,
            nvl(count_miss+count_com,0) as count_sum,
            nvl(ROUND((count_com / NULLIF(count_miss + count_com, 0)) * 100, 2),0) AS processing_rate
        FROM (
                 SELECT
                     (SELECT COUNT(*)
                      FROM (
                               SELECT *
                               FROM CALL_LOG_D B
                                        JOIN (
                                   SELECT MAX(CALLDATE) AS CALL_DATE, CLID, CUST_CODE, PROJECT_CODE
                                   FROM CALL_LOG_D
                                   WHERE REPLACE(substr(calldate,0,10),'-') = '20240214'
                                   GROUP BY CLID, CUST_CODE, PROJECT_CODE
                               ) A ON A.CALL_DATE = B.CALLDATE AND A.CLID = B.CLID
                                        LEFT JOIN temp01 T ON T.empno = B.empno
                                        LEFT JOIN tcnt01 C ON C.CUST_CODE = B.CUST_CODE
                               WHERE REPLACE(substr(B.calldate,0,10),'-') = '20240214'
                                 AND B.RESULT <> 'ANSWER'
                                 AND B.CONFIRM = '0'
                                 AND B.context <> 'outbound'
                           )) AS count_miss,

                     (SELECT COUNT(*)
                      FROM TBND01 A
                      WHERE A.PRC_GUBN = '2'
                        AND TO_CHAR(A.IN_DATE, 'YYYYMMDD')= '20240214'
                        AND CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                     ) AS count_com
                 FROM dual
             )


        ]]>
    </select>
    <select id="findDataForCard2" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[
        SELECT
            NVL(
                    TO_CHAR(
                            CASE
                                WHEN percentChange > 100 THEN percentChange - 100
                                ELSE percentChange
                                END,
                            'FM999999990.00'
                        ),
                    '0'
                ) AS processing_rate,
            dailyPoint,
            dailyPointN
        FROM (
                 SELECT
                             (today.dailyPointN - yesterday.dailyPointN) / NULLIF(yesterday.dailyPointN, 0) * 100 AS percentChange,
                             today.dailyPoint as dailyPoint,
                             today.dailyPointN as dailyPointN
                 FROM
                     (
                         SELECT
                             NVL(TO_CHAR(SUM(point) * -1, '999,999,999,999'), '0') AS dailyPoint,
                             NVL(SUM(point) * -1, 0) AS dailyPointN
                         FROM
                             tcnt01_point
                         WHERE
                             call_code IS NOT NULL
                           AND ISSUE_DATE = '20240214' -- 오늘 날짜
                           AND CUST_CODE = DECODE('', '', CUST_CODE, '')
                     ) today,
                     (
                         SELECT
                             NVL(TO_CHAR(SUM(point) * -1, '999,999,999,999'), '0') AS dailyPoint,
                             NVL(SUM(point) * -1, 0) AS dailyPointN
                         FROM
                             tcnt01_point
                         WHERE
                             call_code IS NOT NULL
                           AND ISSUE_DATE = '20240207' -- 어제 날짜; 날짜가 잘못 지정되었으니 적절히 조정해야 함
                           AND CUST_CODE = DECODE('', '', CUST_CODE, '')
                     ) yesterday
             )
        ]]>
    </select>
    <select id="findPointList" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[



        WITH AggregatedData AS (
            SELECT
                CS_TYPE,
                SUM(POINT)*-1 AS TotalPoints
            FROM tcnt01_point b
                     INNER JOIN tcnt01 a ON a.cust_code = b.cust_code
                     INNER JOIN tbnd01 c ON b.cust_code = c.cust_code
                AND b.projct_code = c.project_code
                AND b.call_code = c.call_code
                AND b.person_code = c.person_code
            WHERE b.issue_date = '20240214'
            GROUP BY CS_TYPE
        ),
             RankedData AS (
                 SELECT
                     CS_TYPE,
                     TotalPoints,
                     ROW_NUMBER() OVER (ORDER BY TotalPoints DESC) AS Rank
                 FROM AggregatedData A
             ),
             FinalData AS (
                 SELECT
                     CASE
                         WHEN Rank <= 2 THEN CS_TYPE
                         ELSE '기타'
                         END AS GroupingKey,
                     SUM(TotalPoints) AS Points
                 FROM RankedData
                 GROUP BY
                     CASE
                         WHEN Rank <= 2 THEN CS_TYPE
                         ELSE '기타'
                         END
             )
        SELECT
            DECODE((SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002' AND ADM_CODE= GroupingKey),NULL,'기타',(SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002' AND ADM_CODE= GroupingKey)) AS CS_TYPE,
            TO_CHAR(nvl(Points,0),'999,999,999,999') as dailyPoint , nvl(Points,0) dailyPointN
        FROM FinalData
        ORDER BY
            CASE WHEN GroupingKey = '기타' THEN 1 ELSE 0 END, Points DESC


        ]]>
    </select>
    <select id="dashConSum" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[
        SELECT
            (
                SELECT
                    COUNT(*)
                FROM
                    (
                        SELECT
                            B.CALLDATE,
                            B.CLID,
                            B.PERSON_CODE,
                            B.CUST_CODE,
                            B.PROJECT_CODE,
                            B.empno,
                            B.INCALL_NO,
                            T.emp_name,
                            C.cust_name AS PJN,
                            1 AS COUNT,
          B.RESULT,
          DECODE(B.CONTEXT, 'outbound', 'OUT', 'IN') AS CONTEXT
                        FROM
                            (
                            SELECT
                            MAX(CALLDATE) AS CALL_DATE,
                            CLID,
                            CUST_CODE,
                            PROJECT_CODE
                            FROM
                            CALL_LOG_D
                            WHERE
                            REPLACE(substr(calldate, 0, 10), '-') = '20240213'
                            GROUP BY
                            CLID,
                            CUST_CODE,
                            PROJECT_CODE
                            ) A
                            INNER JOIN CALL_LOG_D B ON A.CALL_DATE = B.CALLDATE
                            AND A.CLID = B.CLID
                            LEFT JOIN temp01 T ON T.empno = B.empno
                            LEFT JOIN tcnt01 C ON C.CUST_CODE = B.CUST_CODE
                        WHERE
                            REPLACE(substr(B.calldate, 0, 10), '-') = '20240213'
                          AND B.RESULT <> 'ANSWER'
                          AND B.CONFIRM = '0'
                          AND B.context <> 'outbound'
                    )
            ) AS yesterdayMiss,
            (
                SELECT
                    COUNT(*)
                FROM
                    TBND01 a
                WHERE
                    1 = 1
                  AND A.CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                  AND A.PRC_GUBN = '2'
                  AND TO_CHAR(IN_DATE, 'YYYYMMDD') = '20240213'
            ) AS yesterdayCom,
            (
                SELECT
                    COUNT(*)
                FROM
                    TBND01 a
                WHERE
                    1 = 1
                  AND A.CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                  AND A.PRC_GUBN = '2'
                  AND EMG_GUBN = '1'
                  AND TO_CHAR(IN_DATE, 'YYYYMMDD') = '20240213'
            ) AS yseterdayEme,
            (
                SELECT
                    COUNT(*)
                FROM
                    (
                        SELECT
                            B.CALLDATE,
                            B.CLID,
                            B.PERSON_CODE,
                            B.CUST_CODE,
                            B.PROJECT_CODE,
                            B.empno,
                            B.INCALL_NO,
                            T.emp_name,
                            C.cust_name AS PJN,
                            1 AS COUNT,
          B.RESULT,
          DECODE(B.CONTEXT, 'outbound', 'OUT', 'IN') AS CONTEXT
                        FROM
                            (
                            SELECT
                            MAX(CALLDATE) AS CALL_DATE,
                            CLID,
                            CUST_CODE,
                            PROJECT_CODE
                            FROM
                            CALL_LOG_D
                            WHERE
                            REPLACE(substr(calldate, 0, 10), '-') = '20240214'
                            GROUP BY
                            CLID,
                            CUST_CODE,
                            PROJECT_CODE
                            ) A
                            INNER JOIN CALL_LOG_D B ON A.CALL_DATE = B.CALLDATE
                            AND A.CLID = B.CLID
                            LEFT JOIN temp01 T ON T.empno = B.empno
                            LEFT JOIN tcnt01 C ON C.CUST_CODE = B.CUST_CODE
                        WHERE
                            REPLACE(substr(B.calldate, 0, 10), '-') = '20240214'
                          AND B.RESULT <> 'ANSWER'
                          AND B.CONFIRM = '0'
                          AND B.context <> 'outbound'
                    )
            ) AS todayMiss,
            (
                SELECT
                    COUNT(*)
                FROM
                    TBND01 a
                WHERE
                    1 = 1
                  AND A.CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                  AND A.PRC_GUBN = '2'
                  AND TO_CHAR(IN_DATE, 'YYYYMMDD') = '20240214'
            ) AS todayCom,
            (
                SELECT
                    COUNT(*)
                FROM
                    TBND01 a
                WHERE
                    1 = 1
                  AND A.CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                  AND A.PRC_GUBN = '2'
                  AND EMG_GUBN = '1'
                  AND TO_CHAR(IN_DATE, 'YYYYMMDD') = '20240214'
            ) AS todayEme
        FROM
            dual]]>
    </select>
    <select id="dashStatCount" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[

        WITH DateRange AS (
            SELECT
                TRUNC(SYSDATE-7) AS Today,
                TRUNC(SYSDATE-7, 'IW') AS WeekStart,
                TRUNC(SYSDATE-7, 'IW') + 6 AS WeekEnd
            FROM DUAL
        ), Stats AS (
            SELECT
                CS_TYPE,
                (SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002' AND ADM_CODE= CS_TYPE) AS CS_NAME,
                SUM(b.POINT)*-1 AS cs_Type_Point,
                COUNT(CS_TYPE) AS cs_Type_Count,
                CASE
                    WHEN b.issue_date = TRUNC(SYSDATE-7) THEN '오늘'
                    ELSE '주간'
                    END AS StatPeriod
            FROM tcnt01_point b
                     INNER JOIN tcnt01 a ON a.cust_code = b.cust_code
                     INNER JOIN tbnd01 c ON b.cust_code = c.cust_code
                AND b.projct_code = c.project_code
                AND b.call_code = c.call_code
                AND b.person_code = c.person_code
            WHERE b.issue_date BETWEEN (SELECT WeekStart FROM DateRange) AND (SELECT WeekEnd FROM DateRange)
            GROUP BY CS_TYPE, CASE WHEN b.issue_date = TRUNC(SYSDATE-7) THEN '오늘' ELSE '주간' END
        ), TotalCounts AS (
            SELECT
                StatPeriod,
                SUM(cs_Type_Count) AS TotalCount
            FROM Stats
            GROUP BY StatPeriod
        ), RankedStats AS (
            SELECT
                s.StatPeriod,
                s.CS_TYPE,
                s.CS_NAME,
                s.cs_Type_Point,
                s.cs_Type_Count,
                ROUND((s.cs_Type_Count / t.TotalCount) * 100, 0) AS cs_Type_Percentage,
                ROW_NUMBER() OVER (PARTITION BY s.StatPeriod ORDER BY s.cs_Type_Count DESC, s.cs_Type_Point DESC) AS rn
            FROM Stats s
                     JOIN TotalCounts t ON s.StatPeriod = t.StatPeriod
        )
        SELECT
            StatPeriod,
            CS_TYPE,
            CS_NAME,
            cs_Type_Point,
            cs_Type_Count,
            cs_Type_Percentage
        FROM RankedStats
        WHERE rn <= 6
        ORDER BY StatPeriod DESC, rn
        ]]>
    </select>
</mapper>