<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.DashboardMapper">
    <select id="findDataForCard1" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[


        SELECT
            count_miss,
            count_com,
            count_miss+count_com as count_sum,
            ROUND((count_com / NULLIF(count_miss + count_com, 0)) * 100, 2) AS processing_rate
        FROM (
                 SELECT
                     (SELECT COUNT(*)
                      FROM (
                               SELECT *
                               FROM CALL_LOG_D B
                                        JOIN (
                                   SELECT MAX(CALLDATE) AS CALL_DATE, CLID, CUST_CODE, PROJECT_CODE
                                   FROM CALL_LOG_D
                                   WHERE REPLACE(substr(calldate,0,10),'-') BETWEEN '20240214' AND '20240214'
                                   GROUP BY CLID, CUST_CODE, PROJECT_CODE
                               ) A ON A.CALL_DATE = B.CALLDATE AND A.CLID = B.CLID
                                        LEFT JOIN temp01 T ON T.empno = B.empno
                                        LEFT JOIN tcnt01 C ON C.CUST_CODE = B.CUST_CODE
                               WHERE REPLACE(substr(B.calldate,0,10),'-') BETWEEN '20240214' AND '20240214'
                                 AND B.RESULT <> 'ANSWER'
                                 AND B.CONFIRM = '0'
                                 AND B.context <> 'outbound'
                           )) AS count_miss,

                     (SELECT COUNT(*)
                      FROM TBND01 A
                      WHERE A.PRC_GUBN = '2'
                        AND TO_CHAR(A.IN_DATE, 'YYYYMMDD') BETWEEN '20240214' AND '20240214'
                        AND CUST_CODE = DECODE('', '', A.CUST_CODE, '')
                     ) AS count_com
                 FROM dual
             )


        ]]>
    </select>
    <select id="findDataForCard2" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[


        select TO_CHAR(sum(point)*-1,'999,999,999,999')as dailyPoint from
            tcnt01_point a
        where call_code is not null
          and ISSUE_DATE = to_char(sysdate,'YYYYMMDD')
          and  CUST_CODE  = DECODE('', '', CUST_CODE, '')

        ]]>
    </select>
    <select id="findPointList" resultType="com.wio.crm.model.DashboardData">
        <![CDATA[



        WITH AggregatedData AS (
            SELECT
                CS_TYPE,
                SUM(POINT)*-1 AS TotalPoints
            FROM tcnt01_point b
                     INNER JOIN tcnt01 a ON a.cust_code = b.cust_code
                     INNER JOIN tbnd01 c ON b.cust_code = c.cust_code
                AND b.projct_code = c.project_code
                AND b.call_code = c.call_code
                AND b.person_code = c.person_code
            WHERE b.issue_date BETWEEN '20240214' AND '20240214'
            GROUP BY CS_TYPE
        ),
             RankedData AS (
                 SELECT
                     CS_TYPE,
                     TotalPoints,
                     ROW_NUMBER() OVER (ORDER BY TotalPoints DESC) AS Rank
                 FROM AggregatedData A
             ),
             FinalData AS (
                 SELECT
                     CASE
                         WHEN Rank <= 2 THEN CS_TYPE
                         ELSE '기타'
                         END AS GroupingKey,
                     SUM(TotalPoints) AS Points
                 FROM RankedData
                 GROUP BY
                     CASE
                         WHEN Rank <= 2 THEN CS_TYPE
                         ELSE '기타'
                         END
             )
        SELECT
            DECODE((SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002' AND ADM_CODE= GroupingKey),NULL,'기타',(SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4002' AND ADM_CODE= GroupingKey)) AS CS_TYPE,
            TO_CHAR(Points,'999,999,999,999') as dailyPoint
        FROM FinalData
        ORDER BY
            CASE WHEN GroupingKey = '기타' THEN 1 ELSE 0 END, Points DESC


        ]]>
    </select>

</mapper>