<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.StaticsMapper">

    <select id="getStatisticsCons"  resultType="com.wio.crm.model.Statics">
        SELECT IN_DATE INDATE,CS_TYPE CSTYPE,CS_NAME CSNAME,to_char(SUM(CS_COUNT),'999,999,999') CSCOUNTST , SUM(CS_COUNT) CSCOUNT
        FROM (
                 SELECT TO_CHAR(IN_DATE,'YYYYMMDD') IN_DATE,
                        CUST_CODE,
                        CS_TYPE,
                        (SELECT adm_sname FROM tsys01 WHERE adm_gubn ='4002' AND ADM_CODE=A.CS_TYPE) CS_NAME,
                        COUNT(CS_TYPE)CS_COUNT
                 FROM TBND01 A
                 WHERE TO_CHAR(IN_DATE,'YYYYMMDD') BETWEEN #{start} AND #{end}
                   AND CUST_CODE =#{custCode}
                 GROUP BY TO_CHAR(IN_DATE,'YYYYMMDD'),CUST_CODE,CS_TYPE
                 ORDER BY  CUST_CODE,CS_TYPE
             )
        GROUP BY IN_DATE,CS_NAME,CS_TYPE
        ORDER BY  IN_DATE,CS_TYPE
    </select>
    <select id="getStatisticsConsG"  resultType="com.wio.crm.model.Statics">
        SELECT CS_TYPE CSTYPE,CS_NAME  CSNAME,SUM(CS_COUNT) CSCOUNT
        FROM (
                 SELECT TO_CHAR(IN_DATE,'YYYYMMDD') IN_DATE,
                        CUST_CODE,
                        CS_TYPE,
                        (SELECT adm_sname FROM tsys01 WHERE adm_gubn ='4002' AND ADM_CODE=A.CS_TYPE) CS_NAME,
                        COUNT(CS_TYPE)CS_COUNT
                 FROM TBND01 A
                 WHERE TO_CHAR(IN_DATE,'YYYYMMDD') BETWEEN #{start} AND #{end}
                   AND CUST_CODE =#{custCode}
                 GROUP BY TO_CHAR(IN_DATE,'YYYYMMDD'),CUST_CODE,CS_TYPE
                 ORDER BY  CUST_CODE,CS_TYPE
             )
        GROUP BY CS_NAME,CS_TYPE
        order by cs_type

    </select>
    <select id="getConsultationResult"  resultType="com.wio.crm.model.Statics">
        SELECT TO_CHAR(IN_DATE,'YYYYMMDD') INDATE,COUNT(PRC_GUBN) PRCGUBNCOUNT ,(SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4003' AND ADM_CODE = A.PRC_GUBN) PRCNAME ,PRC_GUBN PRCGUBN
        FROM TBND01 A
        WHERE CUST_CODE = #{custCode}
          AND TO_CHAR(IN_DATE,'YYYYMMDD') BETWEEN #{start} AND #{end}
          <![CDATA[
          AND PRC_GUBN <>'4'
        ]]>
        GROUP BY TO_CHAR(IN_DATE,'YYYYMMDD') , PRC_GUBN
        ORDER BY  TO_CHAR(IN_DATE,'YYYYMMDD')
    </select>

    <select id="getConsultationResultG"  resultType="com.wio.crm.model.Statics">
        SELECT COUNT(PRC_GUBN) PRCGUBNCOUNT,(SELECT ADM_SNAME FROM TSYS01 WHERE ADM_GUBN='4003' AND ADM_CODE = A.PRC_GUBN) PRCNAME
        FROM TBND01  A
        WHERE CUST_CODE = #{custCode}
        AND TO_CHAR(IN_DATE,'YYYYMMDD') BETWEEN #{start} AND #{end}
        <![CDATA[
          AND PRC_GUBN <>'4'
        ]]>
        GROUP BY  PRC_GUBN
        order by PRC_GUBN


    </select>
</mapper>