<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.UserApprovalMapper">

    <select id="findByConfirmYn" resultType="com.wio.crm.model.UserApproval">
        SELECT
            b.CUST_NAME as custName,
            b.EMP_NAME as username,
            a.userid,
            a.id,
            a.insert_time as insertTime,
            a.confirm_yn as confirmYn,
            b.EMAIL as email
        FROM
            N_TIPDW A, N_TCNT01_EMP_TEMP B
        WHERE
            A.GUBN = '1'
          AND A.CONFIRM_YN = 'N'
          AND A.USERID = B.USERID
        ORDER BY
            A.INSERT_TIME DESC
    </select>

    <select id="findById" resultType="com.wio.crm.model.UserApproval">
        SELECT
            b.CUST_NAME as custName,
            b.EMP_NAME as username,
            a.userid,
            a.id,
            a.insert_time as insertTime,
            a.confirm_yn as confirmYn,
            b.EMAIL as email
        FROM
            N_TIPDW A, N_TCNT01_EMP_TEMP B
        WHERE a.userid = #{id}
          AND A.USERID = B.USERID
    </select>

    <update id="updateUserApproval" parameterType="com.wio.crm.model.UserApproval">
        UPDATE N_TIPDW
        SET CONFIRM_YN = #{confirmYn},
            CONFIRM_TIME = #{confirmTime}
        WHERE ID = #{id}
    </update>
</mapper>